body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.dash-container {
    width: 100%;
    height: 80vh;  /* Altura del 80% de la ventana del navegador */
    display: flex;
    justify-content: center;
    align-items: center;
}